.board {
    width: 100%
    display: inline-block;
    height: 120px;
    margin-top: 20px;
}
#instructions{
    color: black;
    border-style: solid;
    border-width: 10px;
    border-color: silver;
    height: 350px;
    width: 35%;
    background-color: rgb(163, 194, 254);
    margin:0 auto;
    border-radius: 4px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    overflow-y:auto;
}
#points{
   align-content: center
}
body{
  width: 100%;
  align-content: center;
  /* padding-bottom: 50px; */
  height: 100%;
}
html {
  background: url(astro.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;

}
.window {
	background-color: white;
	height: 50%;
	width: 50%;
	overflow: auto;
  text-align: center;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 10px;
  border-color: silver;
}
#textbox {
	background-color: black;
  color: white;
	height: 400px;
	width: auto;
	border-radius: 2px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  margin-right: 5%;
  border-radius: 3px;
  border-color: grey;
  margin left: 10%;
  overflow-y:auto;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  left: 0;
}

header {
    text-align: center;
    align-content: center;
}
#forms {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#bodCont {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    align-items: center;
}
#display {
    width: 55%;
}
.planButt {
  background-color: rgb(165, 147, 223);
  border-radius: 12px;
  font-size: 15px;
}
.openModal {
  background-color: rgb(254, 155, 80);
  border-radius: 50%;
  text-align: center;
}
h1 {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
}
.board button{
    align-content: center;
}
dd {
  margin: 0 auto;
  vertical-align: middle;
  font-size: 20px;
  border-radius: 12px;
}
#openModal {
    font-size: 20px;
    index:0;
    border-radius: 12px;
    background-color: limegreen;
    font-family: 'Press Start 2P', cursive;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
}

#ftContainer {
  background-color: black;
  color: rgb(89,222,46);
  text-align: center;
  display: flex;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  font-family: 'Press Start 2P', cursive;
}

#currPlan {
    width: 100%;
    justify-content: space-around;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 4px;
    display: flex;
    flex-direction: : row;
    /* margin-top: auto;
    margin-bottom: auto; */
    font-family: 'Press Start 2P', cursive;
    border-bottom: 4px solid white;

}
#planId {
    border-radius: 12px;
}
#center {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: auto;
    /* position: fixed; */
}
h5 {
    font-size: 15px;
}
load1 {
    margin-bottom: auto;
}
load2 {
    margin-top: auto;
}
#earth {
  max-width: 100%;
  max-height: 70%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#modal {
  display: none;
  background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#modal-textbox {
	background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
	height: 75%;
	width: 75%;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

}
#modal-textbox2 {
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
	height: 120%;
	width: 100%;
	border-radius: 2px;
	margin: 150px auto;
  z-index: 1;
  justify-content: center;
  text-align: center;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

}
$image {
    width: auto;
}

#main {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: fixed;
  padding-bottom: 75px;px;
}
.closed {
  background-color: white;
  color: black;
}


@media only screen
  and (max-device-width: 1255px)
  and (-webkit-min-device-pixel-ratio: 1) {
    footer {
      font-size: 12px;
    }
  }

@media only screen
  and (max-device-width: 900px)
  and (max-device-height:720px)
  and (-webkit-min-device-pixel-ratio: 1) {
    #bodCont{
        flex-direction: column;
    }
    html {
      width: 100%;
    }
    body {
      padding-bottom: 100px;

    }
    #instructions{
        width: 80%;
        height: 40%;
    }
    #display {
        width: 80%;
        height: auto;
    }
    #ftContainer {
       background-color: rgba(0,0,0,0);
       width: 50%;
       margin-right: 5px;
       padding: 3px;
    }
    #currPlan{
      flex-direction: row;
      background-color: rgba(0,0,0,0);
      align-items: flex-start;
      padding left: 5px;

    }
    #center {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    }
    body {
      width: 100%;
      padding-bottom: 80px;
    }
    #main {
        min-height: 100%;
        position: relative;
    }
    footer {

      height: 80px;
      position: static;
      display: inline-block;
      margin: 2px;
      /* bottom: 0 */


    }
    #currPlan {
      border: 0;
      /* justify-content: flex-start; */
      margin-left: 5px;
      width: 50%;
      /* height: inherit; */

    }
    #instructions {
      width: 80%;
      font-size: 12px;
    }
    .window {
      width: 80%;
    }
    h1 {
      font-size: 20px;
    }
    .planButt {
      font-size: 12px;
    }

    .footerCont {
      font-size: 10px;
      /* display: flex; */
      /* flex-direction: row; */
      width: 100%;
      padding-left: 2px;
      /* justify-content: space-around; */
    }

    img {
      width: 100%
    }
    dd {
      font-size: 10px;
    }
    /* #ftHull #ftBatt #ftEx {
      display: flex;
      flex-direction: row;
    } */

}
@media only screen
  and (max-device-width: 683px)
  and (-webkit-min-device-pixel-ratio: 1) {
    #center {
      font-size: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    #ftCont {
        display: flex;
        flex-direction: column;
    }
    #ftContainer {
      display: flex;
      flex-direction: column;
      /* justify-content: flex-end; */
      /* padding-top: 150px; */

    }
    #main {
      display: flex;
      flex-direction: column;
    }
    #currPlan {
      display: flex;
      flex-direction: column;
    }
  }
